# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\백기선-스프링 데이터 JPA\Day1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
